.FAQwrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: #FF8210;
    margin-bottom:1px;
    padding: 10px 20px;
}

.questionTitle{
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionAnswer{
    max-height: 0;
    overflow:hidden;
    transition: all 0.5s;
}

.questionAnswer.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.3s;
}

.callUs{
    background-color: black;
    height:25vh;
    margin-bottom: 20px;
}

.numberAndIcon{
    color:#FF8210;
}

