.FAQwrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: #FF8210;
    margin-bottom:1px;
    padding: 10px 20px;
}

.questionTitle{
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionAnswer{
    max-height: 0;
    overflow:hidden;
    transition: all 0.5s;
}

.questionAnswer.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.3s;
}

.callUs{
    background-color: black;
    height:130px;
    margin-bottom: 20px;
    font-size: 50px;
}

.numberAndIcon{
    color:#FF8210;
}

.footerBtn{
    font-size:15px;
    font-weight: 599;
    margin-top:10px;
    width:255px;
}

.footerSubheadings{
    font-weight: 500;
}