.heroBackground{
    background-image: url(../images/bwcar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 530px;
}

 .selectCarForm{
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    top:242px;
    border-radius: 5px;
    background-color:#FF8210;
    box-shadow:20px yellow;
} 

.validationText{
    text-align: center;
    margin-right:60px;
    padding-bottom:5px;
    font-size: 12px;
    word-break: break-word;
    font-family: "Lucida Console", "Courier New", monospace;
    width:250px;
    padding-top:3px;
    font-weight: 599;
}

.iconWrapper{
    background-color: #FF8210;
    border-radius: 30% 70% 58% 42% / 30% 30% 70% 70% ;
    width: 90px;
}

#laptopIcon{
    padding: 20px;
}
#representativeIcon, #keygivingIcon{
    padding: 20px;
}

.processes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 20px;
}

.iconWrapper{
    margin-top: 50px;
    margin-left: 165px;
    margin-bottom: 30px;
}

.textBanner{
    margin-top:80px;
    background-color: black;
    color: white;
    height: 200px;
}

tbody{
    border: 2px solid black;
}

tr{
    border-bottom: 1px solid black;
}

caption{
    background-color: #FF8210;
}

.carousel{
    display: grid;
    grid-template-columns: 70% 30%;
}

.vechileCarousel{
    padding-top: 80px;
}

.carSpecs{
    width: 20vw;
}

.carImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pickCar{
    justify-content: center;
}

.spanOrange{
    color: #FF8210;
}
.homepageSteps {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 650;
}

.stepsText{
    font-size: 16px;
}

.carNameCarousel{
   margin-right: 270px;
   text-shadow: 4px 4px rgba(189, 195, 199, 0.3)

}

.specPrice{
    font-size: 25px;
}

.FAQTitle{
    text-shadow: 4px 4px rgba(189, 195, 199, 0.3)
}

.formSubmitBtn{
    margin-top:37px;
}
.searchBarInputs{
    font-size: 16px;
    font-weight: 500;
}

.inputFormLabel{
    margin-left: 60px;
    margin-bottom:5px;
    margin-top:5px;
    font-size:18px;
}

#carLabel{
    margin-left: 75px;
}

#dropOffDestLabel,#pickUpDestLabel{
    margin-left:40px;
}

.modalPopup{
    color:black;
}

.wasPicked{
    column-count: 2;
}

.email{
    width: 92%;
}

.modalImg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;
}

.emailSentBtn:disabled, .formSubmitBtn:disabled{
    background-color: 	rgb(169,169,169, 0.5)
}

.formSubmitBtn:hover{
    outline: 4px solid black;
    outline-offset: 3px;
}
.formSubmitBtn:hover:disabled{
    outline:0px;
}

.aboutHomepage{
    width:100%;
}

.mobileItems{
    width:100%;
}

.mobileItems li:hover{
    text-decoration: underline solid #FF8210 3px;
}

@media (max-width: 1024px) and (min-width: 800px) {
    .inputFormLabel{
        margin-left: 20px;
        margin-bottom:5px;
        margin-top:5px;
        font-size:18px;
    }
    }

@media (max-width: 800px) {
}