.profileImg{
    /* float: left; */
    width:  200px;
    height: 200px;
    object-fit:cover;

}

.profileImg:hover {
    transform: scale(1.5);
}

.personName{
    font-size: 25px;
}

.meetPgTitle{
    text-shadow: 4px 4px rgba(189, 195, 199, 0.3)
}