.navbarMenu{
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbarItems{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 40px;
    justify-content: center;
    width: 70vw;
}

.button_items{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    width: 8vw;

}